.above-nav{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
}
.navbar{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
}
.menu > ul {
    list-style: none;
    display: flex;
    gap: 10px;
}
.menu > ul > li > a{
    text-decoration: none;
    color: navy;
}
.active{
    color: red!important;
}


main{
    min-height: 300px;
    background-color: aquamarine;
}

.footer-info{
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer-logo, .footer-links, .footer-contact{
    width: 30vw;
}
.footer-links > ul {
    list-style: none;
}
.footer-links > ul > li > a{
    text-decoration: none;
}

.footer-copy{
    text-align: center;
    background-color: gray;
}